{%- if value|length > length -%}
    <span data-toggle="tooltip" title="{{ value }}">
{%- endif -%}
{{- value|truncate(length, preserve, separator) -}}
{%- if value|length > length -%}
    </span>
{%- endif -%}
